<template>
    <form enctype="multipart/form-data" method="POST" action="/posts">
        <input type="hidden" name="_token" :value="token">
        <div class="card">
            <div class="card-header">Créer une publication</div>
            <div id="" class="card-block post-content">
                <div class="row">
                    <div class="col-2">
                        <img class="float-left" alt="profile picture" src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/242906/profile/profile-80_9.jpg">
                    </div>
                    <div class="col-10">
                        <textarea name="post_content" data-autoresize placeholder="Exprimez-vous..."></textarea>
                    </div>
                </div>
                <hr>
                <div v-if="inputs.place" class="row">
                    <input v-model="place" type="text" class="form-control" name="place" id="inputPlace" placeholder="Ou êtes-vous ?">
                </div>
                <div v-if="inputs.mood" class="row">
                    <input v-model="mood" type="text" class="form-control" name="mood" id="inputMood" placeholder="Comment vous sentez-vous ?">
                </div>
                <div v-if="inputs.wayd" class="row">
                    <input v-model="wayd" type="text" class="form-control" name="wayd" id="inputWayd" placeholder="Que faites-vous ?">
                </div>
                <div v-if="inputs.date" class="row">
                    <input v-model="date" type="date" class="form-control" name="date" id="inputDate" placeholder="C'était quand ?">
                </div>
                <p v-if="filename" class="card-text">Vidéo : {{ filename }}</p>
            </div>
            <div class="card-footer">
                <label class="btn btn-outline-success btn-sm btn-file">
                    <i class="fa fa-picture-o fw" aria-hidden="true"></i>&nbsp; Photo/Vidéo<input @change="onFileChange" name="media"
                                                                                                  id="mediafile"
                                                                                                  type="file"
                                                                                                  accept="image/png,image/jpeg/image/gif,video/*"
                                                                                                  hidden>
                </label>
                <button @click.prevent="inputs.place = !inputs.place" v-bind:class="{ active: inputs.place }" class="btn btn-outline-danger btn-sm"><i class="fa fa-map-marker fw" aria-hidden="true"></i>&nbsp; Position</button>
                <button @click.prevent="inputs.mood = !inputs.mood" v-bind:class="{ active: inputs.mood }" class="btn btn-outline-warning btn-sm"><i class="fa fa-smile-o fw" aria-hidden="true"></i>&nbsp; Humeur</button>
                <button @click.prevent="inputs.wayd = !inputs.wayd" v-bind:class="{ active: inputs.wayd }" class="btn btn-outline-info btn-sm"><i class="fa fa-heartbeat fw" aria-hidden="true"></i>&nbsp; Activité</button>
                <button @click.prevent="inputs.date = !inputs.date" v-bind:class="{ active: inputs.date }" class="btn btn-outline-secondary btn-sm"><i class="fa fa-clock-o fw" aria-hidden="true"></i>&nbsp; Date</button>
                <button type="submit" class="btn btn-outline-primary btn-sm float-right">Publier</button>
                <div v-show="inputs.hasImage" class="preview-image">
                    <br>
                    <img class="img-fluid post-image" id="preview" :src="image" alt="Preview image">
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        data () {
            return {
                media: null,
                inputs: {
                    place: false,
                    wayd: false,
                    mood: false,
                    date: false,
                    hasImage: false,
                },
                place: '',
                wayd: '',
                date: '',
                mood: '',
                token: window.Laravel.csrfToken,
                image: '',
                filename: ''
            }
        },
        methods: {
            /**
             * Quand le fichier est modifié
             * @param e
             */
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                // On vérifie qu'il y a au mois un fichier
                if (!files.length)
                    return;
                // Si il est de type type
                if(/^image/.test(files[0].type))
                    // On affiche l'image
                    this.createImage(files[0]);
                // Si il est de type vidéo
                else if(/^video/.test(files[0].type)) {
                    // On affiche le nom du fichier
                    this.filename = files[0].name;
                    // Réinitialisation des champs
                    this.image = '';
                    this.inputs.hasImage = false;
                }
            },
            /**
             * Permet d'afficher l'image
             * @param file
             */
            createImage(file) {
                let reader = new FileReader();
                // Virtual dom
                reader.onload = (e) => {
                    this.image = e.target.result;
                };
                reader.readAsDataURL(file);
                this.inputs.hasImage = true;
                this.filename = '';
            }
        }
    }
</script>

<style lang="css" scoped>
    .post-content img {
        padding: 0;
    }
    .post-content textarea {
        box-sizing: border-box;
        resize: none;
        overflow-y: hidden;
        border: 0;
        outline: 0;
        min-width: 100%;
        max-width: 100%;
    }

    label {
        margin-bottom: 0;
    }
    .preview-image {
        margin-top: 10px;
    }
</style>