// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.content {
	margin-top: 80px;
}

.sidenav-icon {
	margin-right: 5px;
	color: #000;
	font-size: 18px;
}

.btn {
    cursor: pointer;
}

.card-img-left{
	float:left;
	padding-right:1em;
	margin-bottom:-1,25em;
}

.card {
	margin-bottom: 10px;
}

video
{
  width: 100%;
  height: auto;
  max-height: 100%;
}

.post-image {
  display:block;
  margin:auto;
}